/* INTRODUCTION SECTION */
.hero
{
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}
.hero h2
{
    color: #000;
    transition: color 0.3s ease-in-out;
    letter-spacing: 2px;
    word-spacing: 3.5px;
}
.hero h2:hover
{
    color: #54b3d6;
}
.hero .profile .content
 {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.hero .profile .content span
 {
    font-weight: bolder;
    color: crimson;
}

.hero .profile img
{
    width: 380px;
    height: 420px;
    object-fit: cover;
    padding-top:15PX ;
}

/* Journey section or sec */
.journey
{
    margin-top: -55px;
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}
.journey h2
{
    padding-top: 40px;
    color: #000;
    transition: color 0.3s ease-in-out;
    letter-spacing: 2px;
    word-spacing: 3.5px;
}
.journey h2:hover
{
    color: #54b3d6;
}

.story-content
{
    max-width: 700px;
    margin: 0 auto;
}
.story-content p
{
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    padding-top: 25px;
}